<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Soter-Martin </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <!-- navbar -->
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}"><img id="logo-navbar" src="{{ url_for('static', filename='images/soter-martin-logo-white-bg.png') }}" alt="Logo"></a></li>

            <li><a href="{{ url_for('index') }}">Home</a></li>

            <li><a href="{{ url_for('meet_the_team') }}">Meet The Team</a></li>

            <li class="dropdown">
                <a href="#">Our Partners ▾</a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('manufacturers') }}">Manufacturers</a></li>
                    <li><a href="{{ url_for('architects_engineers') }}">Architects/Engineers</a></li>
                    <li><a href="{{ url_for('associations') }}">Associations</a></li>
                </ul>
            </li>

            <li><a href="{{ url_for('min_order_freight_allowance') }}">Minimum Order, Freight Allowance</a></li>

            <li><a href="{{ url_for('contact_us') }}">Contact Us</a></li>

            <li id="phone-number"><a>804-500-2164</a></li>
        </ul>
    </nav>

    <!-- main content -->
    {% block content %}{% endblock %}

    <!-- footer -->
    <footer id="footer">
        <div class="footer-column" id="footer-col-1">
            <img src="static\images\soter-martin-logo-white-bg.png" alt="Soter-Martin Logo" id="footer-logo">
            <div class="social-icons">
                <a href="https://twitter.com/soter_martin" target="_blank"><img src="/static/icons/twitter.svg" alt="Twitter"></a>
                <a href="https://www.facebook.com/soter_martin" target="_blank"><img src="/static/icons/facebook.svg" alt="Facebook"></a>
                <a href="https://www.instagram.com/soter_martin" target="_blank"><img src="/static/icons/instagram.svg" alt="Instagram"></a>
            </div>
        </div>

        <div class="footer-column" id="footer-col-2">
            <h3>Contact Info</h3>
            <p>Phone: (804) 550-2164</p>
            <p>Email: orders@sotermartin.com</p>
            <h3>Address</h3>
            <p>PO Box 3304</p>
            <p>Richmond, Virginia 23228</p>
        </div>

        <div class="footer-column" id="footer-col-w3">
            <h3>Learn more about Soter-Martin</h3>
            <p><a href="/about">About Us</a></p>
            <p><a href="/products">Our Products</a></p>
            <p><a href="/support">Support</a></p>
            <p><a href="/careers">Careers</a></p>
        </div>
    </footer>

</body>
</html>
