{% extends 'base.html' %}
{% block title %} Soter-Martin {% endblock %}

{% block content %}

<!-- introduction text -->
<h1 id="intro-text"> Contact Us </h1>

<form method="post" enctype="multipart/form-data">

  <div class="form-grid">

    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name">
    </div>

    <div class="form-group">
      <label for="company-name">Company Name:</label>
      <input type="text" name="company-name" id="company-name">
    </div>

    <div class="form-group">
      <label for="job-title">Job Title:</label>
      <input type="text" name="job-title" id="job-title">
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" name="email" id="email">
    </div>

    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="text" name="phone" id="phone">
    </div>

    <div class="form-group">
      <label for="location">Location:</label>
      <input type="text" name="location" id="location">
    </div>

    <div class="form-group assistance-with">
    <label>Assistance With:</label>
      <div class="checkbox-row">
        <label><input type="checkbox" name="assistance-with" value="Quote"> Quote</label>
        <label><input type="checkbox" name="assistance-with" value="Order"> Order</label>
      </div>
      <div class="checkbox-row">
        <label><input type="checkbox" name="assistance-with" value="Pricing"> Pricing</label>
        <label><input type="checkbox" name="assistance-with" value="Product Support"> Product Support</label>
      </div>
    </div>

    <div class="form-group mailing-list">
      <label for="mailing-list">Subscribe to Mailing List?</label>
      <label><input type="checkbox" name="mailing-list" value="Yes" id="mailing-list"> Yes</label>
    </div>

    <div class="form-group full-width">
      <label for="comments">Additional Comments:</label>
      <textarea name="comments" id="comments" rows="2"></textarea>
    </div>

  </div>

  <button type="submit">Submit</button>

</form>

{% endblock %}