{% extends 'base.html' %}
{% block title %} Soter-Martin {% endblock %}

{% block content %}

<h2 id="intro-text"> Manufacturers </h2>

<h2 class="manufacturer-domain-text"> Southern Virginia </h2>
<section class="manufacturers-section"> 
    <div class="manufacturers-card1">
        <div class="manufacturers-card2">
            <a class="image-center" href="https://akerbymaax.com/" target="_blank">
                <img src="{{ url_for('static', filename='images/manufacturers-logos/aker-logo.jpg') }}">
            </a>
        </div>
    </div>
    <div class="manufacturers-card1">
        <div class="manufacturers-card2">
            <a href="https://briggsplumbing.com/" target="_blank">
                <img src="{{ url_for('static', filename='images/manufacturers-logos/briggs-logo.png') }}">
            </a>
        </div>
    </div>
    <div class="manufacturers-card1">
        <div class="manufacturers-card2">
            <a href="https://comfortdesignsbathware.com/" target="_blank">
                <img src="{{ url_for('static', filename='images/manufacturers-logos/cd-logo.jpg') }}">
            </a>
        </div>
    </div>
    <div class="manufacturers-card1">
        <div class="manufacturers-card2">
            <a href="https://www.gfm.biz/" target="_blank">
                <img src="{{ url_for('static', filename='images/manufacturers-logos/gf-logo.jpg') }}">
            </a>
        </div>
    </div>
    <div class="manufacturers-card1">
        <div class="manufacturers-card2">
            <a href="https://maax.com/" target="_blank">
                <img src="{{ url_for('static', filename='images/manufacturers-logos/maax-logo.jpg') }}">
            </a>
        </div>
    </div>
    <div class="manufacturers-card1">
        <div class="manufacturers-card2">
            <a href="https://pioneerind.com/" target="_blank">
                <img src="{{ url_for('static', filename='images/manufacturers-logos/pioneer-logo.png') }}">
            </a>
        </div>
    </div>
</section>

<h2 class="manufacturer-domain-text"> Virginia State </h2>
<section class="manufacturers-section"> 
    <div class="manufacturers-card1">
        <div class="manufacturers-card2">
            <a class="image-center" href="https://jb-products.com/" target="_blank">
                <img src="{{ url_for('static', filename='images/manufacturers-logos/jb-logo.png') }}">
            </a>
        </div>
    </div>
    <div class="manufacturers-card1">
        <div class="manufacturers-card2">
            <a class="image-center" href="https://www.stiebel-eltron-usa.com/" target="_blank">
                <img src="{{ url_for('static', filename='images/manufacturers-logos/stiebel-eltron-logo.jpg') }}">
            </a>
        </div>
    </div>
</section>
    
<h2 class="manufacturer-domain-text"> National Companies </h2>
<section class="manufacturers-section"> 
    <div class="manufacturers-card1">
        <div class="manufacturers-card2">
            <a class="image-center" href="https://akerbymaax.com/" target="_blank">
                <img src="{{ url_for('static', filename='images/manufacturers-logos/aker-logo.png') }}">
            </a>
        </div>
    </div>
    <div class="manufacturers-card1">
        <div class="manufacturers-card2">
            <a class="image-center" href="https://briggsplumbing.com/" target="_blank">
                <img src="{{ url_for('static', filename='images/manufacturers-logos/briggs-logo.png') }}">
            </a>
        </div>
    </div>
    <div class="manufacturers-card1">
        <div class="manufacturers-card2">
            <a href="https://comfortdesignsbathware.com/" target="_blank">
                <img src="{{ url_for('static', filename='images/manufacturers-logos/cd-logo.jpg') }}">
            </a>
        </div>
    </div>
    <div class="manufacturers-card1">
        <div class="manufacturers-card2">
            <a href="https://www.gfm.biz/" target="_blank">
                <img src="{{ url_for('static', filename='images/manufacturers-logos/gf-logo.jpg') }}">
            </a>
        </div>
    </div>
    <div class="manufacturers-card1">
        <div class="manufacturers-card2">
            <a href="https://maax.com/" target="_blank">
                <img src="{{ url_for('static', filename='images/manufacturers-logos/maax-logo.jpg') }}">
            </a>
        </div>
    </div>
    <div class="manufacturers-card1">
        <div class="manufacturers-card2">
            <a href="https://pioneerind.com/" target="_blank">
                <img src="{{ url_for('static', filename='images/manufacturers-logos/pioneer-logo.png') }}">
            </a>
        </div>
    </div>
    <div class="manufacturers-card1">
        <div class="manufacturers-card2">
            <a href="https://pioneerind.com/" target="_blank">
                <img src="{{ url_for('static', filename='images/manufacturers-logos/pioneer-logo.png') }}">
            </a>
        </div>
    </div>
    <div class="manufacturers-card1">
        <div class="manufacturers-card2">
            <a href="https://pioneerind.com/" target="_blank">
                <img src="{{ url_for('static', filename='images/manufacturers-logos/pioneer-logo.png') }}">
            </a>
        </div>
    </div>
    <div class="manufacturers-card1">
        <div class="manufacturers-card2">
            <a href="https://pioneerind.com/" target="_blank">
                <img src="{{ url_for('static', filename='images/manufacturers-logos/pioneer-logo.png') }}">
            </a>
        </div>
    </div>
    <div class="manufacturers-card1">
        <div class="manufacturers-card2">
            <a href="https://pioneerind.com/" target="_blank">
                <img src="{{ url_for('static', filename='images/manufacturers-logos/pioneer-logo.png') }}">
            </a>
        </div>
    </div>
</section>

{% endblock %}
