{% extends 'base.html' %}
{% block title %} Soter-Martin {% endblock %}

{% block content %}

<label for="manufacturer-select"> Select a Manufacturer to Learn More! </label>
<!-- dropdown to pick one-->
<select id="manufacturer-select">
    <option value="">-- Select Manufacturer --</option>
    <option value="Aker">Aker</option>
    <option value="Boshart">Boshart</option>
    <option value="Briggs">Briggs</option>
    <option value="Cello">Cello</option>
    <option value="Comfort Designs">Comfort Designs</option>
</select>

<!-- checkboxes to pick multiple and compare-->


{% endblock %}